:root {
  --primary-color: green;
  --primary-color-opacity: rgba(0, 128, 0, 0.497);
  --secondary-color: yellow;
  --secondary-color-opacity: rgba(255, 255, 0, 0.495);
  --color-gradient: linear-gradient(
    315deg,
    var(--primary-color),
    var(--secondary-color)
  );
  --border-gradient: linear-gradient(
      45deg,
      var(--primary-color),
      var(--secondary-color)
    )
    1;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-lobster: "Lobster Two", cursive;
  --secondary-font-kaushan: "Kaushan Script", cursive;
  --font-averia: "Averia Serif Libre", cursive;
  --font-quarrel: "Lovers Quarrel", cursive;
  --color-blue: blue;
}
.body-home {
  text-align: center;
}
.body-home::after {
  content: "";
  background: url("../images/garden.jpg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.body-work {
  background-image: linear-gradient(to top, bisque, antiquewhite);
  text-align: center;
}

.body-about {
  text-align: center;
  background-color: black;
  color: gold;
}

.container {
  text-align: center;
}

.door-img {
  width: 200px;
  padding-top: 100px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--color-gradient);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--secondary-color);
  border: 4px solid;
  border-image: var(--border-gradient);
}

.rabbit {
  width: 300px;
  padding-top: 100px;
}
h1 {
  font-family: var(--secondary-font-kaushan);
  padding-top: 100px;
}

h2 {
  font-family: var(--font-quarrel);
  font-size: 120px;
}
h4 {
  font-size: 24px;
  font-family: var(--font-averia);
}

.header1 {
  font-family: var(--primary-font-lobster);
  font-size: 75px;
}

.contact h2 {
  font-family: var(--font-averia);
  font-size: 60px;
  padding: 50px;
}
.contact h3 {
  font-size: 20px;
  line-height: 3.5;
}
.header3 {
  font-family: var(--primary-font-lobster);
  color: var(--primary-color);
  font-size: 48px;
}
.navbar {
  background: linear-gradient(
    315deg,
    var(--primary-color-opacity),
    var(--secondary-color-opacity)
  );
}

.nav-about {
  background: linear-gradient(315deg, blue, gold);
}

.nav-contact {
  background: linear-gradient(315deg, rgb(4, 45, 94), rgb(89, 134, 188));
}

.nav-work {
  background: linear-gradient(315deg, burlywood, moccasin);
}

.logo {
  width: 30px;
}
.icon-cont {
  width: 80px;
}

.img-class {
  width: 363px;
}

.one {
  width: 600px;
}

.img-class-about {
  margin-top: 160px;
  width: 400px;
  border: double 10px;
  border-color: antiquewhite;
}

p {
  padding: 25px;
  font-family: var(--font-averia);
  font-size: 24px;
}

.paragraph {
  font-family: var(--secondary-font-kaushan);
  font-size: 24px;
}

.link-btn {
  padding: 20px 15px;
  margin: 20px;
  text-decoration: none;
  color: var(--secondary-color);
  border: 4px solid;
  border-radius: 4px;
  border-image: var(--border-gradient);
  box-shadow: var(--box-shadow);
}

.work-btn {
  padding: 20px 15px;
  margin: 20px;
  text-decoration: none;
  background-color: burlywood;
  border: 4px solid;
  border-radius: 4px;
  border-image: linear-gradient(45deg, burlywood, moccasin) 1;
  box-shadow: var(--box-shadow);
}

.contact-btn {
  padding: 20px 30px;
  margin: 20px;
  text-decoration: none;
  background-color: rgb(89, 134, 188);
  border: 4px solid;
  border-radius: 4px;
  border-color: rgb(4, 45, 94);
  box-shadow: var(--box-shadow);
  color: white;
}

.email-link {
  color: rgb(4, 45, 94);
}

.email-link:hover {
  text-decoration: underline;
}

.email-link-about {
  font-size: 24px;
  color: var(--color-blue);
}

.email-link-about:hover {
  text-decoration: underline;
  color: gold;
}

.email-link-work {
  font-size: 24px;
  color: black;
}

.email-link-work:hover {
  text-decoration: underline;
  color: peru;
}

.email-link-contact {
  font-size: 24px;
  color: black;
}

.email-link-contact:hover {
  text-decoration: underline;
  color: rgb(4, 45, 94);
}

.color-blue {
  color: var(--color-blue);
}
.low-size {
  font-size: 24px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: rgba(213, 210, 210, 0.2);
  padding: 30px 30px;
  border-radius: 10px;
}

footer .about-btn {
  background: linear-gradient(315deg, var(--color-blue), gold);
}

footer .work-btn-footer {
  border: 4px solid;
  border-image: linear-gradient(45deg, black, rgb(224, 220, 220)) 1;
}

footer .contact-btn-footer {
  background: linear-gradient(315deg, rgb(4, 45, 94), rgb(153, 191, 237));
}

footer h4 {
  font-size: 48px;
  font-family: var(--font-averia);
  line-height: 1.2;
}

footer .contact-box p {
  margin: 0;
  line-height: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

footer .text-center {
  font-family: var(--font-quarrel);
  font-size: 40px;
}

footer .about a {
  color: var(--color-blue);
}

footer .about a:hover {
  color: gold;
  background: var(--color-blue);
}

footer .work a:hover {
  color: moccasin;
  background: peru;
}

footer .contact a:hover {
  background: rgb(4, 45, 94);
}

form input,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-family: var(--font-averia);
  font-size: 20px;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

@media (min-width: 900px) {
  h3 {
    font-size: 40px;
  }
  .header3 {
    font-size: 48px;
  }
  .email-link {
    font-size: 28px;
  }
  p {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
    line-height: 2;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 15px;
  }
  .header3 {
    font-size: 32px;
  }
  .email-link {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
  .img-class {
    width: 300px;
  }
  .one {
    width: 400px;
  }
  .container-fluid {
    text-align: left;
  }
}

@media (max-width: 760px) {
  .img-class {
    width: 200px;
  }
  .one {
    width: 300px;
  }
  .header1 {
    font-size: 40px;
  }
}
